.content {
  width: 200px;
  .menu-item {
    margin-left: 0;
  }
}
.menu-popper {
  padding-bottom: 8px;
}
.menu-body{
  overflow-y: auto;
}
.menu-item {
  width: 100%;
  justify-content: flex-start;
  display: flex;
  border-radius: 0;
  cursor: pointer;
&.separate{
  border-top: 1px solid rgba(22,24,25,0.12);
}
  &:hover {
    background-color: rgba(24, 47, 177, 0.03);
  }
}

//header-title-back
.header {
  position: relative;
  height: 50px;
  margin-top: -8px;
}
.back-btn {
  width: 50px;
  height: 100%;
  background-color: transparent;
  cursor: pointer;
}
.header-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
