/* HeaderItemModal.module.scss */
.header-items {
    display: flex;
    gap: 1rem;
  }
  
  .underlineActive {
    color: black;
  }
  
  .underlineActiveActive {
    color: rgb(25, 138, 204);

  }
  